
article header {
	text-align: center;
	margin-top:    1em;
	margin-bottom: 2em;
}

article header h1 {
	font-size: 1.6em;
	margin-top:    0;
	margin-bottom: 0;
}

article header p {
	font-size: 1.3em;
	color:   #b98769;
	margin-top:    0;
	margin-bottom: 0;
}

@media (min-width: 35rem) {

	article header h1,
	article header p {
		display: inline-block;
		padding: 0;
	}
	article header p::before {
		content: " â˜ ";
	}
}
@media (min-width: 38em) {
	article > main > * {
		margin-top:    calc(2vw + 1rem);
		margin-bottom: calc(3vw + 1rem);
	}
}

.role {
	display: inline-block;
	padding: 0 5px;
	margin: 1px 3px;
	border-radius: 3px;
	cursor: pointer;
	background-color: #e4e4e4;
}

.role.dir {
	background-color: #ffe4c2;
}

.role.prod {
	background-color: #acd7e7;
}
