

/* ------------------------------------------ */
/* pour tout le monde */

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

/* ------------------------------------------ */
/* img considéré comme block */

img, video {
	max-width: 100%;
	display: block;
	vertical-align: bottom;
	margin: auto;
}

p img,
h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img {
	display: inline-block;
}

/* ------------------------------------------ */

body {
	font-family: Helvetica, sans-serif;
	font-weight: 200;
	font-size: 16px;
	-webkit-text-size-adjust: 100%;
	color: #b98769;
}

p {
	line-height: 1.33em;
}


header, footer {
	text-align: center;
}

h1, h2, h3, h4, h5, h6, b {
	font-weight: bold;
	color: #634b3f;
}

a {
	color: inherit;
	text-decoration: none;
	transition: color 0.1s ease-out;
}

a:hover {
	color: #ff7d0a;
}

/* ------------------------------------------ */

body {
	margin: 0;
}

h1, p, figcaption {
	padding-left:  1rem;
	padding-right: 1rem;
}

@media screen and (min-width: 35rem) {

	body {
		/* marge de 10%, mais smooth depuis 1rem */
		margin-left:  10%; /* falLback */
		margin-right: 10%; /* falLback */
		margin-left:  calc(1rem + 10% - 0.10 * 35rem);
		margin-right: calc(1rem + 10% - 0.10 * 35rem);
		/* 10% auxquels on soustrait ce que vaut 10% quand width = 35rem */
	}

	h1, p, figcaption {
		padding-left:  0;
		padding-right: 0;
	}
}

@media screen and (min-width: 70rem) {

	body {
		font-size: 18px;
	}
}
@media screen and (min-width: 120rem) {
	body {
		/* 120 - both margins
		=  120 - 2 * (1rem + 10% * 120rem - 0.10 * 35rem)
		=  101rem */
		width: 101rem;
		margin-left: auto;
		margin-right: auto;
	}
}

/* ------------------------------------------ */
/* compatibilité avec les anciens navigateurs */

article, header, footer, nav, aside, section, 
figure, figcaption, details {
	display: block;
}