/* ------------------------------------------ */
/* for everything */

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

/* ------------------------------------------ */
/* compatibilité avec les anciens navigateurs */

article, header, footer, main, nav, aside, section, 
figure, figcaption, details {
	display: block;
}

/* ------------------------------------------ */
/* stick the footer to the bottom of page if sparse content */

html, body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
}
#page-content {
	flex-grow:   1;
	flex-shrink: 0;
	margin-bottom: 4rem;
}
#page-footer {
	flex-grow:   0;
	flex-shrink: 0;
}

/* ------------------------------------------ */
/* basic html elements */

body {
	font-family: Helvetica, sans-serif;
	font-weight: 200;
	font-size: 16px;
	color: #201f1e;
	background-color: white;
	/*background-color: #111110; darkmode*/
	word-wrap: break-word;
	-webkit-text-size-adjust: 100%;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p, figure, figcaption, ul, blockquote, .content {
	max-width:     38rem;
	margin-left:    auto;
	margin-right:   auto;
}
h1, h2, h3, h4, h5, h6, p, figcaption, ul, .content {
	line-height:  1.45em;
	padding-left:   1rem;
	padding-right:  1rem;
}
h1, h2, h3, h4, p, ul {
	margin-top:     1rem;
	margin-bottom:  2rem;
}
ul {
	padding-left: 2.5rem;
}
blockquote > p {
	padding-left: 2.5rem;
	font-style:   italic;
}
hr {
	max-width: 36rem;
	margin: 0 auto;
	border:  none;
	border-top: 1px solid #dfcec3;
}

/* ------------------------------------------ */
/* links */

a {
	color: inherit;
	text-decoration: none;
	border-bottom: 0.1rem solid;
	transition: color 0.08s ease-out;
	cursor: pointer;
}
a:hover {
	color: #d37d0e;
}
.no-underlay-on-links a {
	border:  none;
}
a.tag {
	text-decoration: none;
	padding: 0 0.2em;
	border: 0.5px solid;
	border-radius: 3px;
}

/* ------------------------------------------ */
/* big font */

@media (min-width: 90em) {
	body {
		font-size: 18px;
	}
	h1, h2, h3, h4, h5, h6, p, figure, figcaption, ul, blockquote, .content {
		/* factor calculation: 38rem * 18px/16px = 42.75rem  */
		max-width: 42.75rem;
	}
	hr {
		/* factor calculation: 36rem * 18px/16px = 42.75rem  */
		max-width: 40.5rem;
	}
}

/* ------------------------------------------ */
/* figures */

figure {
	margin-top:      1em;
	margin-bottom:   2em;
}

@media (min-width: 38em) {
	figure {
		padding-left:  1rem;
		padding-right: 1rem;
	}
	figure.overflow {
		width:       90%;
		min-width: 38rem;
		max-width: 50rem;
	}
	figure.big {
		width:       90%;
		min-width: 38rem;
		max-width: 90rem;
	}
}

figcaption {
	font-size:     0.8em;
	margin-top:    0.8em;
	margin-bottom: 0.8em;
	text-align:   center;
	color: #af8d79;
}

/* ------------------------------------------ */
/* grid figures */

.grid {
	width: 100%;
}

.grid *:not(figcaption) {
	display:  inline-block;
	vertical-align: bottom;
	margin-bottom:   0.3em;
	margin-left:         0;
}

.grid.ofTwo *:not(figcaption) {
	margin-right:    0.3em;
	width: calc(50% - 0.3em / 2);
}

.grid.ofThree *:not(figcaption) {
	margin-right:    0.3em;
	width: calc(33.33% - 0.3em * 2/3);
}

.grid.ofTwo   *:not(figcaption):nth-child(2n),
.grid.ofThree *:not(figcaption):nth-child(3n) {
	margin-right: 0;
}
.grid figcaption {
	/* compensate from margin-bottom of grid children */
	/* calculation: figcaption-margin-top - grid-child-margin-bottom */
	/* calculation: 0.8em - 0.3em = 0.5em */
	margin-top: 0.5em;
}

/* ------------------------------------------ */
/* imgs, videos, figures */

img, video {
	max-width: 100%;
	display:  block;
	margin:    auto;
}

p img,
h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img {
	display: inline-block;
}

figure img,
figure video {
	width: 100%;
}

figure img.noScaleUp,
figure video.noScaleUp {
	width: auto;
}

@supports (object-fit: contain) {
	@media (max-aspect-ratio: 3/1) {
		figure img,
		figure video {
			max-height:    95vh;
			object-fit: contain;
		}
		figure img.noFit,
		figure video.noFit {
			max-height: none;
			object-fit: fill;
		}
	}
}

/* ------------------------------------------ */
/* article header */

article header {
	text-align: center;
	margin-top:    1em;
	margin-bottom: 2em;
}

article header h1 {
	font-size: 1.6em;
	margin-top:    0;
	margin-bottom: 0;
}

article header p {
	font-size: 1.3em;
	color: #d37d0e;
	margin-top:    0;
	margin-bottom: 0;
}

@media (min-width: 38rem) {

	article header h1,
	article header p {
		display: inline-block;
		padding: 0;
	}
	article header p::before {
		content: " ⁘ ";
	}
}

/* ------------------------------------------ */
/* line */

.line {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	padding-left: 1rem;
	padding-right: 1rem;
}
.line * {
	margin-left:  0;
	margin-right: 0;
}
.line .left {
	flex-shrink: 0;
	padding-left: 0;
}
.line .right {
	text-align: right;
	padding-right: 0;
}

/* ------------------------------------------ */
/* cool inline classes */

time {
	font-style: italic;
}
.role {
	display: inline-block;
	padding: 0 5px;
	margin: 1px 3px;
	border-radius: 3px;
	background-color: #e4e4e4;
}
.role.dir {
	background-color: #ffe4c2;
}
.role.prod {
	background-color: #acd7e7;
}


/* ------------------------------------------ */
/* footer classes */

.footer-article {
	margin-top:      3rem;
	margin-bottom:      0;
	margin-left:     auto;
	margin-right:    auto;
	font-size:      0.8em;
	color:     #beaba0;
}

/* ------------------------------------------ 
/* navToIndex */

.navToIndex {
	text-align: center;
	margin-bottom: -2em;
	font-size: 1.5rem;
}
.navToIndex .back {
	display: inline-block;
	padding: 1em;
	border: none;
}
.navToIndex .back img {
	box-sizing: content-box;
	display: inline-block;
	width: 2.2em;
	padding: 0 0.2em;
	vertical-align: -50%;
}
.navToIndex .back::before {
	display: inline-block;
	content: "〈";
	font-weight: bold;

	width: 0;
	overflow: hidden;
	transition: width 0.3s ease-out;
}
.navToIndex .back:hover::before {
	width: 1em;
	overflow: visible;
}

/* ------------------------------------------ 
/* Contact */

#Contact {
	background-color: #f0f0ec;
	padding-bottom:  4rem;
	padding-top:     2rem;
	text-align:    center;
}
#Contact p {
	margin-top:       1em;
	margin-bottom:    1em;
}
#Contact a {
	display: inline-block;
	border:          none;
}
#Contact img {
	display: inline-block;
	width:        2.75rem;
	padding:       0.2rem;
}
#Contact a img {
	transition: filter 0.2s ease-out;
}
#Contact a:hover img {
	filter: saturate(500%) brightness(2);
}
