/* ------------------------------------------ */
/* #page-header */

#page-header {
	padding-top:        2rem;
	padding-bottom:   2.5rem;
}

@media screen and (min-width: 38rem) {

	#page-header {
		min-width:    38rem;
		width:          75%;
		max-width:    90rem;
		margin-left:   auto;
		margin-right:  auto;
	}
}

/* ------------------------------------------ */
/* ID */

.Id {
	display: block;
	border: none;
	color: inherit;
}

/* avatar au dessus */
.Id-Avatar {
	margin-bottom: 0.33rem;
	width: 4em;
}

.Id-Text-Name,
.Id-Text-Subtitle {
	text-align: center;
	margin: 0 auto;
	padding-top: 0;
	padding-bottom: 0;
}
.Id-Text-Subtitle {
	/*text-transform: lowercase;*/
	/*font-variant: small-caps;*/
	/*font-variant-caps: all-small-caps;*/
	font-size: 1em;
	font-weight: normal;
	letter-spacing: 0.05em;
	color: #d37d0e;
}

.Id-Text {
	display: none;
}

/* ------------------------------------------ 
/* Id-Text visible */

@media screen and (min-width: 21em) {
	#page-header .Id-Text {
		display: inline-block;
	}
	.Id {
		text-align: center;
		padding: 0 0.5rem;
	}
	.Id-Avatar {
		display: inline-block;
	}
	.Id-Avatar {
		vertical-align: -50%;
		margin-left: 0;
		margin-bottom: 0;
	}
	.Id-Text-Name,
	.Id-Text-Subtitle {
		text-align: left;
	}
	.Id-Text-Name {
		padding-left: 0.33rem;
		padding-right: 0.33rem;
		line-height: 0.9em;
	}
	.Id-Text-Subtitle {
		padding-left: 0.45rem;
		padding-right: 0.33rem;
	}
}

/* ------------------------------------------ 
/* Menu */

.Menu {
	text-align: center;
	margin: 0;
}
.Menu h2 {
	display: inline-block;
	text-transform: lowercase;
	font-variant: small-caps;
	font-variant-caps: all-small-caps;
	font-size: 1em;
	letter-spacing: 0.07em;
	margin: 0;
	padding: 0.4rem;
	padding-top: 1.08rem;
}
.Menu h2 a:not(.active) {
	border: none;
}

@media screen and (min-width: 38em) {
	#page-header {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
}
