@media screen and (min-width: 35rem) {

	body {
		/* marge de 20%, mais smooth depuis 1rem */
		margin-left:  20%; /* falLback */
		margin-right: 20%; /* falLback */
		margin-left:  calc(1rem + 20% - 0.20 * 35rem);
		margin-right: calc(1rem + 20% - 0.20 * 35rem);
		/* 20% auxquels on soustrait ce que vaut 20% quand width = 35rem */
	}
}
@media screen and (min-width: 50rem) {
	body.narrow {
		/* marge de 30%, mais smooth depuis 4rem */
		/* 4rem = (1rem + 20% - 0.20 * 35rem) quand width = 50rem */
		/*        (1rem + 20%*50rem   - 7rem) */
		/*        (1rem + 10rem       - 7rem) */
		margin-left:  30%; /* falLback */
		margin-right: 30%; /* falLback */
		margin-left:  calc(4rem + 30% - 0.30 * 50rem);
		margin-right: calc(4rem + 30% - 0.30 * 50rem);
		/* 30% auxquels on soustrait ce que vaut 30% quand width = 50rem */
	}
}

header::after,
footer::before {
	content: "";
	display: block;
	width: 5em;
	height: 0.125em;
	margin: auto;
	background-color: #c3b09e;
	opacity: 0.3;
}

/* ------------------------------------------ */


.back {
	display: inline-block; /* pour avoir une zone de clic precise */
	padding: 1em;
	padding-top: 1.8em;
}
.back img {
	box-sizing: content-box;
	display: inline-block;
	width: 2.2em;
	padding: 0 0.2em;
	vertical-align: -56%;
}
.back::before {
	content: "〈";
	font-weight: bold;
	display: inline-block;
	transition: width 0.3s ease-out;
	width: 0;
}
.back:hover::before {
	width: 1em;
}

/* ------------------------------------------ */

h1 {
	text-align: center;
}

h1 .description {
	display: block;
	font-weight: normal;
	font-size: 0.8em;
	color: #c3b09e;
}


@media screen and (min-width: 35rem) {

	h1 .description {
		display: inline-block;
	}
	h1 .description::before {
		content: "●";
		padding: 0 0.27em;
	}
	h1 {
		/* compenser la perte de retour a la ligne (qui fait 0.8em + de la merde) */
		padding-top: 0.3em;
		padding-bottom: 0.6em;
	}
}

/* ------------------------------------------ */

p {
	color: #634b3f;
	max-width: 36em;
	line-height: 1.4em;
	margin: 1em auto;
}

p a {
	border-bottom: 0.1em solid;
}

main > section > * {
	margin: calc(8vw + 1em) auto;
}
main > section > *:first-child {
	margin: calc(5vw + 1em) auto;
}

figure img,
figure video {
	display: inline-block;
	width: 100%;
	padding: 0.15em;
}

.half {
	width: 50%;
}

.third {
	width: 33.33%;
}

.minicentered {
	padding: 0;
	display: block;
	max-width: 36em;
}

figcaption {
	margin: 0.3em 0;
	font-size: 0.8em;
	text-align: center;
}

/* ------------------------------------------ */

footer {
	margin-top: 2em;
	margin-bottom: 4em;
}

#Legal p {
	margin: 0.3em auto;
	font-size: 0.8em;
	line-height: initial;
	color: inherit;
}