
header::after,
footer::before {
	content: "";
	display: block;
	width: 5em;
	height: 0.125em;
	margin: auto;
	background-color: #c3b09e;
	opacity: 0.3;
}

/* ------------------------------------------ */


.back {
	display: inline-block; /* pour avoir une zone de clic precise */
	padding: 1em;
	padding-top: 1.8em;
}
.back img {
	box-sizing: content-box;
	display: inline-block;
	width: 2.2em;
	padding: 0 0.2em;
	vertical-align: -56%;
}
.back::before {
	content: "〈";
	font-weight: bold;
	display: inline-block;
	transition: width 0.3s ease-out;
	width: 0;
}
.back:hover::before {
	width: 1em;
}

/* ------------------------------------------ */

h1 {
	text-align: center;
}

h1 .description {
	display: block;
	font-weight: normal;
	font-size: 0.8em;
	color: #b98769;
}


@media screen and (min-width: 35rem) {

	h1 .description {
		display: inline-block;
	}
	h1 .description::before {
		content: "●";
		padding: 0 0.27em;
	}
	h1 {
		/* compenser la perte de retour a la ligne (qui fait 0.8em + de la merde) */
		padding-top: 0.3em;
		padding-bottom: 0.6em;
	}
}

/* ------------------------------------------ */

main > section > * {
	margin: calc(6vw + 1em) auto;
}
main > section > *:first-child {
	margin-top: calc(3vw + 1em);
}

p {
	color: #634b3f;
	max-width: 36em;
	margin: 1em auto;
}

p a {
	border-bottom: 0.1em solid;
}

figure img,
figure video {
	width: 100%;
	margin-bottom: 0.3em;
}

@supports (object-fit: contain) {
	@media (max-aspect-ratio: 21/9) {
		figure img,
		figure video {
			max-height: 95vh;
			object-fit: contain;
		}
		figure img.scrollable,
		figure video.scrollable {
			max-height: 130vh;
			object-fit: contain;
		}
	}
}

figcaption {
	margin: 0.3em 0;
	font-size: 0.8em;
	text-align: center;
}

/* ------------------------------------------ */

.gridOfTwo * {
	display: inline-block;
	width: calc(50% - 0.15em);
}
.gridOfTwo *:nth-of-type(odd) {
	margin-right: 0.3em;
}

.gridOfThree * {
	display: inline-block;
	width: calc(33.33% - 0.2em);
	margin-right: 0.3em;
}
.gridOfThree *:nth-of-type(3n) {
	margin-right: 0em;
}

.window {
    box-shadow: 5px 15px 15px 0px rgba(0,0,0,0.15);
}

/* ------------------------------------------ */

@media screen and (min-width: 30rem) {
	.notBig {
		margin-left:  calc(40% - 0.40 * 30rem);
		margin-right: calc(40% - 0.40 * 30rem);
		/* 40% auxquels on soustrait ce que vaut 40% quand width = 30rem */
	}
	.notTooBig {
		margin-left:  calc(33% - 0.33 * 30rem);
		margin-right: calc(33% - 0.33 * 30rem);
		/* 33% auxquels on soustrait ce que vaut 33% quand width = 30rem */
	}
}

/* ------------------------------------------ */

footer {
	margin-top: 2em;
	margin-bottom: 4em;
}

#Legal p {
	margin: 0.3em auto;
	font-size: 0.8em;
	line-height: 1.1em;
	color: inherit;
}