

/* Hierarchie :
	
	#Tableau
		.label
		.param
			input[type="Range"]
			.valeur
			.nom

		.espace

		.param
			checkbox
			.nom

		.espace
		
		select
*/

:root {
	--bg-color: rgba(0,0,0,0.5);
	--bg-color-bright: #1e363f;
	--color-dim: #325664;
	--color: #42828D;
	--color-bright: #85b8cc;
	--color-label: white;
}

#Tableau {
	width: 225px;
}

#Tableau .param,
#Tableau select {
	width: 100%;
	margin: 5px 0;
	position: relative; /* pour le span en absolu */

	background-color: rgba(0,0,0,0.5);
	border-radius: 5px;
}

#Tableau select {
	background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='15px' height='10px'><text x='0' y='10' fill='%23325664'>&%239662;</text></svg>");
	background-repeat: no-repeat;
	background-size: 1.5EM 1EM;
	background-position: right center;
	background-clip: border-box;
}

#Tableau select:hover {
	/* le meme mais avec une couleur differente*/
	background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='15px' height='10px'><text x='0' y='10' fill='%2385b8cc'>&%239662;</text></svg>");
	color: #85b8cc;
}

#Tableau select:focus {
	outline: none;
}

#Tableau .param {
	min-height: 40px;
}

#Tableau select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: 14px;
	border: none;
	color: #42828D;
	padding: 7px;
}

#Tableau .espace {
	height: 10px;
}

#Tableau .label {
	width: 100%;
	height: 20px;

	font-family: monospace;
	font-size: 18px;
	text-indent: 2px;
	margin: 10px 0;
	color: white;
}





/*  reset style des inputRange */

	/* pour le block */
		#Tableau input[type="range"] {
			-webkit-appearance: none;
			width: 100%; /* Specific width is required for Firefox. */
			background: transparent; /* Otherwise white in Chrome */
			margin: 0;
		}
	/* pour la poignee */
		#Tableau input[type=range]::-webkit-slider-thumb {
			-webkit-appearance: none;
		}
		#Tableau input[type=range]::-moz-range-thumb {
			border: none;
			background: transparent;
		}
		input[type=range]::-ms-thumb {
		}
	/* pour la ligne */
		#Tableau input[type=range]::-moz-range-track {
			background: transparent;
		}
		#Tableau input[type=range]::-ms-track {
			width: 100%;
			cursor: pointer;
			border: none;
		}
	/* pour le block en focus */
		#Tableau input[type=range]:focus {
			outline: none;
		}
		#Tableau input[type=range]::-moz-focus-outer {
			border: 0;
		}
		#Tableau input[type=range]:focus::-ms-thumb {
		}




/* Custom styling des inputRange */

	/* pour le block */
		#Tableau input[type="range"] {
			position: relative; /* pour le before en absolu */
			width: 195px;
			height: 15px;
			padding: 4px;
			/* haut | cotés | bas */
			margin: 31px 11px 6px;
			cursor: pointer;
		}

	/* pour la poignee */
		#Tableau input[type=range]::-webkit-slider-thumb {
			width: 14px;
			height: 14px;
			background-color: #325664;
			border-radius: 7px;
			margin-top: -4px;
		}
		#Tableau input[type=range]::-moz-range-thumb {
			width: 14px;
			height: 14px;
			background-color: #325664;
			border-radius: 7px;
			margin-top: -4px;
		}
		#Tableau input[type=range]::-ms-thumb {
			width: 14px;
			height: 14px;
			background-color: #325664;
			border-radius: 7px;
			margin-top: -2px;
		}

	/* pour la ligne */
		#Tableau input[type=range]::-webkit-slider-runnable-track {
			height: 6px;
			background: #1e363f;
			border-radius: 2px;
		}
		#Tableau input[type=range]::-moz-range-track {
			height: 6px;
			background: #1e363f;
			border-radius: 2px;
		}
		#Tableau input[type=range]::-ms-track {
			height: 6px;
			background: #1e363f;
			border-radius: 2px;
		}
		#Tableau input[type=range]::-ms-fill-lower {
			height: 6px;
			background: #325664;
			border-radius: 2px;
		}
		input[type=range]::-ms-fill-upper {
			height: 6px;
			background: transparent;
			border-radius: 2px;
		}

	/* pour le block en focus */
		#Tableau input[type=range]:hover::-webkit-slider-thumb {
			/*background-image: url(../Images/SliderThumbHover.png);*/
			background-color: #85b8cc;
		}
		#Tableau input[type=range]:hover::-moz-range-thumb {
			/*background-image: url(../Images/SliderThumbHover.png);*/
			background-color: #85b8cc;
		}
		#Tableau input[type=range]:hover::-ms-thumb {
			/* ahum */
			/*background-image: url(../Images/SliderThumbHover.png);*/
			background-color: #85b8cc;
		}

/* Custom styling des checkbox */
	#Tableau input[type="checkbox"] {
		position: absolute;
		right: 15px;
		top: 11px;
	}



/* styling des infos */

	#Tableau .param .nom, #Tableau .param .valeur {
		position: absolute;
		top: 11px;
		font-size: 14px;
		font-family: monospace;
	}
	#Tableau .param .nom {
		color: #42828D;
		left: 15px;
	}
	#Tableau .param .valeur {
		color: #42828D;
		right: 15px;
		text-align: right;
	}


