

/* body et canvas */
html, body {
	overflow: hidden;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: monospace;
	color: #42828D;
}
a {
	color: inherit;
}
a:hover {
	color: #85b8cc;
}
p {
	position: absolute;
	margin: 10px;
}
canvas {
	position: absolute;
	margin: 0;
	display: block;

	background: url(Images/Fond.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Tableau de parametres */
#Tableau {
	position: absolute;
	margin-left: 30px;
	margin-top: 30px;
	z-index: 10;
	max-height: calc(100% - 80px);
	overflow: scroll;
}
#Options {
	position: absolute;
	padding: 6px;
	margin: 4px;
	width: 100px; /* pour reduire la zone de clic */
	z-index: 10;
	cursor: pointer;
}
#Options:hover {
	color: #85b8cc;
}

/* Autres */
#Compteur {
	bottom: 0; right : 0;
}
#Source {
	top: 0; right: 0;
}
#Tuto {
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
}

#Assets {
	display: none;
}
/*#Retour {
	background-image: url("Images/Retour.png");
}
*/
.unselectable {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */    
}

